body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(#60c4c4, rgb(236,249,236));
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

header {
    background-image: url(../imagenes/2.gif);
    color: rgb(12, 119, 12);
    padding: 15px 0;
    text-align: center;
    background-size: 50%;
    margin: 20px;
    max-width: 100vw;
}

.titulo {
    margin-top: 0px;
}

h1 {
    font-size: 80px;
}

nav ul {
    position: absolute;
    width: 100%;
    z-index: 200;
    margin-left: 0%;
    margin-right: 25%;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #070606;
    text-decoration: none;
    /*  aca comentarios    */
}

a:hover {
    background-color: rgb(12, 119, 12);
    color: black;
}

#about {
    padding: 20px;
    text-align: center;
    margin: 20px;
	align-items: center;
}

#about h2 {
    margin-top: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    width: 300px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

#contact {
    padding: 20px;
}
.caja {
    color: white;
    width: 400px;
    height: 200px;
    background-color: rgb(34, 128, 190);
    border: 1px solid rgb(34, 128, 190); 
    padding: 20px;
    margin: 20px;
    font-size: 25px;
}
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 20px auto;
}

#slidering {
margin-left: 20px;
margin-right: 20px;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
    height: 40vw;
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}


.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}







.paris {
    background-color: rgb(240, 136, 197);
	border-radius: 20px;
	margin: 20px;
}
.mexico {
	background-color: #245f31;
	border-radius: 20px;
	margin: 20px;
}
.australia {
	background-color: brown;
	border-radius: 20px;
	margin: 20px;
}
.islandia {
	background-color: rgb(48, 48, 87);
	border-radius: 20px;
}

.contenedor {
    height: 92vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
	margin: 20px;
	border-radius: 20px;
}

.izquierda {
    
    display: grid;
    align-items: center;
    text-align:justify;
    height: 80vh;
    text-align: center;
    justify-items: center;
  
}

.derecha {
    display: grid;
    align-items: center;
    justify-content: center;
    align-items: center; 

}

.titulos {
    font-size: 100PX;
    padding-top: 0px;
    margin: 10px;
	color: white;
}
.descripcion {
    font-size: 20px;
	text-align: justify;
	margin-left: 30px;

}

img {
    padding-bottom: 0px;
}

.contacto {
    margin-top: 0px;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 15px; /* Espacio entre los iconos */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margin */
}

.social-icons li {
    font-size: 24px; /* Tamaño del icono */
}

.social-icons a {
    text-decoration: none;
    color: #333; /* Color del icono */
    transition: color 0.3s; /* Efecto de transición */
}

.social-icons a:hover {
    color: #007bff; /* Color al pasar el ratón */
}

.contenedorcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
}

i {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    border-radius: 50%;
    color: black;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .35);
    transition: 0.5s ease;
}

.fa-youtube:hover {

    background-color: red;
    color: white;

}

.fa-facebook:hover {

    background-color: rgb(68, 0, 255);
    color: white;
    
}

.fa-twitter:hover {

    background-color: rgb(68, 0, 255);
    color: white;
    
}

.fa-tiktok:hover {

    background-color: rgb(69, 4, 71);
    color: white;
    
}
