header{
    display: grid;
    width: 98%;
    height: 600px;
    background-image: url("../imagenes/seccion1.png");
    background-repeat: no-repeat ;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 20px;
}
.titulo1 {
    margin-left: 100px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
}
.parrafo1{
    color: rgb(224, 180, 205);
    margin-left: 100px;
    margin-top: 150px;
}
.abril-fatface-regular {
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 110px;
}
.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 10px;
}
.seccion2{
    display: grid;
    width: 98%;
    height: 600px;
    background-color: rgb(51, 59, 51);
    background-repeat: no-repeat ;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 20px;
}
.parrafo2{
    color: rgb(224, 180, 205);
    margin-left: 10px;
    margin-top: 80px;
    font-size: 50px;
}
.parrafo3{
    color: white;
    margin-left: 30px;
    margin-top: 80px;
    font-size: 25px;
    text-align: justify;
    margin-right: 50px;

}